spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: false
        highlight_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1
    validate-on-migrate: true
    clean-disabled: true

jwt:
  secret:
    key: ${JWT_SECRET_KEY}
    white-list:
      - /api/v1/auth/signup
      - /api/v1/auth/login
      - /actuator/health
      - /error
      - /swagger-ui/**
      - /swagger-ui.html
      - /v3/api-docs/**
      - /v3/api-docs.yaml
      - /v3/api-docs.json
      - /api-docs/**
      - /swagger-resources/**
      - /webjars/**
      - /docs/**
      - /api/v1/coupons/use-test
      - /actuator/prometheus

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    url: /docs/openapi3.json
    display-request-duration: true

client:
  store-service:
    name: store-client
    url: http://localhost:8082

management:
  endpoints:
    web:
      exposure:
       include: health, info, prometheus
  endpoint:
    health:
      show-details: always