server:
  port: 8080

spring:
  application:
    name: coupon-service
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: false
        highlight_sql: false
  config: # AWS Parameter Store에서 설정을 가져오도록 Spring Cloud AWS Config 설정
    import: optional:aws-parameterstore:/couponpop/prod/coupon-service/

fcm:
  firebase-config-path: file:/app/config/serviceAccountKey.json

logging:
  level:
    root: INFO
    org.springframework: INFO
    org.hibernate.SQL: WARN
    org.hibernate.orm.jdbc.bind: WARN

client:
  store-service:
    name: store-client
    url: http://store.couponpop.internal:8080

cloud:
  aws:
    region:
      static: ap-northeast-2
    stack:
      auto: false

management:
  endpoints:
    web:
      exposure:
        include: health